.comment {
  border-left: 2px solid rgb(166, 170, 169);
}

.title {
  text-align: center;
}

.user {
  background-color: rgb(181, 223, 214);
  font-weight: 600;
}

.text {
  background-color: rgb(222, 233, 230);
}
